$font-size: 18px;
$font-family: 'Bai Jamjuree', sans-serif;
$font-weight-400: 400;
$font-weight-600: 600;
// Primary
$strongcyan: hsl(171, 66%, 46%);
$lightblue: hsl(233, 100%, 71%);
// Neutral
$grayishblue: hsl(201, 11%, 66%);
$darkgrayishblue: hsl(210, 10%, 33%);